/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-primary: #1d1d1b;
  --text-seconday: #1d1d1b94;
  --bg: #c4bcb3;
}

/* Fonts */
@font-face {
  font-family: Canopee;
  src: url("./fonts/Canopee.ttf");
}

@font-face {
  font-family: DomaineDispCondMedium;
  src: url("./fonts/DomaineDispCondMedium.ttf");
}

@font-face {
  font-family: Editorial-new;
  src: url("./fonts/EditorialNew-Light.ttf");
}

@font-face {
  font-family: Editorial-new-medium;
  src: url("./fonts/EditorialNew-medium.ttf");
}

/* Body Styles */
html,
body {
  min-height: 100vh;
  color: var(--text-seconday);
  font-family: Editorial-new;
  line-height: 1.6;
  background-color: var(--text-primary);
  overflow-x: hidden;
}

/*================
     Layout
================*/

/* Pages Styles */
.page-1 {
  height: 100vh;
  width: 100%;
  background-color: var(--bg);
}
.page-2 {
  height: 120vh;
  width: 100%;
  background-color: var(--bg);
}
/* Scrollbar Styles */
::-webkit-scrollbar {
  display: none;
}

/* Image and SVG Styles */
img,
svg {
  width: 100%;
  display: block;
}

/* Header Section */
header {
  display: flex;
  z-index: -1;
  align-items: center;
  justify-content: space-between;
  padding: 3em 2em;
  border-bottom: 1px solid var(--text-seconday);
}

/* Navigation */
ul {
  display: flex;
  gap: 1em;
  list-style: none;
  background-color: var(--text-primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: transform 0.3s ease-in-out;
}
nav li {
  text-decoration: none;
  font-size: 4rem;
  font-family: canopee;
  color: white;
  position: relative;
}
nav li:hover::after {
  content: "";
  background-color: #fd8700;
  height: 0.3rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  animation-name: slide-left;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

nav a {
  text-decoration: none;
  color: orange;
}

.hidden {
  opacity: 0;
}
/* hover Animation for links */
@keyframes slide-left {
  from {
    width: 0%;
    transform: translateX(50%);
  }
  to {
    width: 100%;
    transform: translateX(0);
  }
}
.menu-icon:hover {
  cursor: pointer;
}

.close-btn svg {
  width: 7rem;
  stroke: white;
  position: absolute;
  top: 2rem;
  right: 1rem;
  padding: 0 0.3em;
  font-family: canopee;
}

.close-btn svg path {
  fill: #fec465;
  transition: fill 0.2s ease;
}

.close-btn svg:hover path {
  fill: orange;
  cursor: pointer;
}

.close {
  transform: translateX(100vw);
}

/* Logo Text Styles */
.logo-text {
  font-size: 1.2rem;
  font-weight: 100;
  color: var(--text-primary);
}

/* Menu Icon Styles */
.menu-icon {
  width: 1.5rem;
}

/* Nav Section */
.nav-img {
  width: 22vw;
}
.nav-img img {
  width: 12rem;
}

/* Posts Section */
.post {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  /* prettier-ignore */
  grid-template-areas:
    "post-1 post-2 post-3 " ;
  padding: 3em 2em;
  gap: 5em;
  align-items: center;
  justify-content: center;
}

/* Post Title Styles */
.post-title {
  margin-bottom: 0.5em;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.5rem;
  font-family: DomaineDispCondMedium;
}

.post-title span {
  padding: 0em 0.2em;
  color: #c3bbb2;
  background: #c03f13;
  font-family: Canopee;
  letter-spacing: 1px;
  border-radius: 0.3em;
  font-size: 1.2rem;
}

/* Image Container Styles */
.img-container {
  overflow: hidden;
  margin-bottom: 0.5em;
}

/* Post Image Styles */
.post-img {
  border: 1px solid black;
  transition: transform 0.4s ease-in-out;
  height: 100%;
  object-fit: cover;
}

.post-img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Post Content Styles */
.post p {
  width: 90%;
  font-size: 1.1rem;
  line-height: 150%;
}

/* Post Heading and Paragraph Styles */
.post h2,
.post p {
  color: var(--text-primary);
}

/* Post Columns */
.post-1 {
  grid-area: post-1;
}

.post-2 {
  border-left: 1px solid var(--text-seconday);
  border-right: 1px solid var(--text-seconday);
  padding: 0 2em;
  font-family: Editorial-new-medium;
  text-align: center;
  grid-area: post-2;
}
.post p:not(.post-body),
.post-wrapper p:not(.post-body) {
  font-weight: 4vw;
  font-family: Editorial-new-medium;
}

.post-3 {
  grid-area: post-3;
}

/* Post-2 Title Styles */
.post-2 .post-title {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -1.5px;
  margin-top: 0.3em;
  justify-content: center;
  margin: 0 auto;
}

/* Post-2 Body Styles */
.post-2 .post-body {
  font-family: Editorial-new;
  font-size: 3.9vh;
  margin-bottom: 1em;
  text-align: center;
  line-height: 1.3;
  width: 100%;
}

.post-2 .post-body span {
  display: inline-block;
  width: 2rem;
  height: 0.2rem;
  background-color: var(--text-primary);
  margin: 0 0.3em 0.2em;
}

/* Post Tip Styles */
.post-tip span {
  color: var(--text-primary);
}

.post-tip {
  font-weight: 100;
  color: var(--text-seconday);
}

/* Main Heading Styles */
.main-heading {
  font-size: 37vw;
  color: #c5beb4;
  font-family: Canopee;
  text-align: center;
  background-color: #1d1d1b;
  width: 95%;
  margin: 0 auto;
  line-height: 0.9;
  letter-spacing: -20px;
  font-weight: 100;
  max-width: 100vw;
}

/* Page-2 Styles */

.page-2 {
  display: flex;
  padding: 2em;
  justify-content: space-between;
  color: var(--text-primary);
}
/* Page 2 left div styles */
.page-2-left {
  width: 34%;
  padding: 1em 0 0 0;
  border-right: 1px solid #333130;
  padding-right: 3em;
}

/* Styles for the main heading (h1) inside the .page-2-left div */
.page-2-left h1 {
  font-family: canopee;
  font-size: 7.5vw;
  text-align: center;
  line-height: 125%;
  letter-spacing: -3px;
  position: relative;
  z-index: 999999;
}

/* Styles for the span inside the .page-2-left div */
.page-2-left span {
  font-size: 13rem;
  font-weight: 700;
}

/* Styles for the image inside the .page-2-left div */
.page-2-left img {
  height: 50%;
  object-fit: cover;
  margin-bottom: 2em;
}

/* Styles for the ::before and ::after pseudo-elements of the h1 element */
.page-2-left h1::before,
.page-2-left h1::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 0.1vh;
  background-color: #928d86;
  bottom: 20%;
  border-radius: 10px;
  left: 0;
  z-index: -1;
}

/* Styles for the ::before pseudo-element of the h1 element */
.page-2-left h1::before {
  top: 30%;
}

/* Styles for the text below the h1 element in the .page-2-left div */
.page-2-left-text-bottom {
  font-family: Editorial-new;
  font-size: 2vw;
  line-height: 125%;
}

/* Styles for the first letter of the text below the h1 element */
.page-2-left-text-bottom::first-letter {
  float: left;
  font-family: "Canopee", sans-serif;
  font-feature-settings: "ss03";
  background-color: var(--text-primary);
  color: #cdc6be;
  font-size: 6.5vw;
  line-height: 100%;
  margin: 0.1em 0.5vw 0 0;
  padding: 0 0.2em;
}

/* Page 2 Right div styles */
.page-2-right {
  width: 66%;
  padding-left: 3em;
}

/* Styles for the image inside the .page-2-right div */
.page-2-right img {
  height: 60%;
  object-fit: cover;
}

/* Styles for the text inside the .page-2-right div */
.page-2-right-text {
  font-family: "canopee";
  font-size: 7vw;
  line-height: 115%;
  font-weight: 100;
  position: relative;
}

/* Styles for the Page 3 section */
.page-3 {
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  gap: 2em;
}

/* Styles for the h2 heading inside the Page 3 section */
.page-3 h2 {
  background-color: var(--bg);
  font-size: 28vw;
  color: #c5beb4;
  font-family: Canopee;
  background-color: #1d1d1b;
  width: fit-content;
  padding: 0 3rem 0 2rem;
  line-height: 100%;
  letter-spacing: -20px;
  font-weight: 100;
}

/* Styles for the image inside the Page 3 section */
.page-3 img {
  width: 400px;
  object-fit: cover;
}

/* Styles for the Page 4 section */
.page-4 {
  background-color: var(--bg);
  display: flex;
  padding: 2em;
  color: var(--text-primary);
}

/* Styles for the left part of the Page 4 section */
.page-4 .left {
  width: 60%;
  padding-right: 3em;
}

/* Styles for the post-wrapper in the Page 4 section */
.page-4 .post-wrapper {
  display: flex;
  gap: 2em;
  margin-bottom: 2em;
}

/* Styles for the second post (post-2) in the Page 4 section */
.page-4 .post-2 {
  padding: 0;
}

/* Styles for images in the Page 4 section */
.page-4-img {
  object-fit: cover;
}

/* Styles for the right part of the Page 4 section */
.page-4 .right {
  width: 40%;
  border-left: 1px solid var(--text-seconday);
  padding-left: 4rem;
}

/* Styles for the h2 heading inside the right part of the Page 4 section */
.right h2 {
  font-family: Canopee;
  font-size: 7vw;
  color: var(--text-primary);
  line-height: 125%;
  font-weight: 100;
  text-align: center;
}

/* Styles for the span inside the h2 heading in the right part of the Page 4 section */
.right h2 span {
  font-weight: 700;
  font-size: 12vw;
}

/* Styles for paragraphs in the right part of the Page 4 section */
.right p {
  font-family: Editorial-new;
  font-size: 2.2vw;
  line-height: 125%;
  font-weight: 100;
  margin-bottom: 2em;
}

/* Styles for the first letter of paragraphs in the right part of the Page 4 section */
.right p::first-letter {
  background-color: var(--text-primary);
  color: var(--bg);
  font-family: canopee;
  font-size: 6.5vw;
  line-height: 100%;
  padding: 0.1em 0.2em;

  margin-right: 0.1em;
  float: left;
  font-feature-settings: "ss03";
  font-weight: 700;
}

/* Styles for the .round element */
.round {
  height: 200px;
  border: 2px solid var(--text-seconday);
  border-radius: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
}

.round h2 {
  transform: translateX(-35%);
  transition: transform 0.4s ease;
}
.round:hover h2 {
  transform: translateX(100%);
}
.round img {
  transform: translateX(-110%);
  height: 90px;
  transition: transform 0.4s ease;
}
.round:hover img {
  transform: translateX(62%);
}

@media screen and (max-width: 1000px) {
  .post {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-areas:
      "post-1  post-2"
      "post-3 post-3";
    padding: 2em 4em;
  }

  .main-heading {
    font-size: 10rem;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 700px) {
  /* Nav Section */
  .nav-img {
    width: fit-content;
  }
  .nav-img img {
    width: 9em;
  }
  .logo-text {
    font-size: 1rem;
  }
  .post {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-areas:
      "post-1 post-1 post-1"
      "post-2 post-2 post-2"
      "post-3 post-3 post-3";
  }

  .main-heading {
    font-size: 7rem;
    letter-spacing: 1px;
  }
}
